.ui-accordion{
    /*The outer container of the accordion.*/
}

.ui-accordion-header{
    /* The headers of the accordion. The headers will additionally have a ui-accordion-icons class if they contain icons. */
    /*text-shadow: 0px 0px 3px #000;*/
    color: #131413;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;
    font-size: 20px;
    opacity: 0.7;
    text-align: center;
    letter-spacing:2px;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
    font-size: 35px;
    letter-spacing:5px;
    /*background: #ffffff url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;*/
}


.ui-accordion-icons{

}

.ui-accordion-content {
    border-radius: 15px;
    align-content: center;
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;

    -webkit-box-shadow: 0px 14px 19px 0px rgba(0, 0, 0, 0.24);
    -moz-box-shadow:    0px 14px 19px 0px rgba(0, 0, 0, 0.24);
    box-shadow:         0px 14px 19px 0px rgba(0, 0, 0, 0.24);
}

.ui-accordion-content > * {
    margin: 0;
    width: 100%;
}