/* Global input */
    input{
        border-color: transparent;
    }

/* Place holders */
    ::-webkit-input-placeholder { /* WebKit browsers */
        color:    #6699cc;
        opacity: 0.5;
        text-align: center;
    }
/* End place holders */

/* Buttons */
    #downloadLinks, input[type='button'] {
        font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
        -moz-box-shadow:inset 0px 1px 9px 0px #ffffff;
        -webkit-box-shadow:inset 0px 1px 9px 0px #ffffff;
        box-shadow:inset 0px 1px 9px 0px #ffffff;
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf) );
        background:-moz-linear-gradient( center top, #63b8ee 5%, #468ccf 100% );
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
        background-color:#63b8ee;
        -webkit-border-top-left-radius:8px;
        -moz-border-radius-topleft:8px;
        border-top-left-radius:8px;
        -webkit-border-top-right-radius:8px;
        -moz-border-radius-topright:8px;
        border-top-right-radius:8px;
        -webkit-border-bottom-right-radius:8px;
        -moz-border-radius-bottomright:8px;
        border-bottom-right-radius:8px;
        -webkit-border-bottom-left-radius:8px;
        -moz-border-radius-bottomleft:8px;
        border-bottom-left-radius:8px;
        text-indent:0;
        border:1px solid #3866a3;
        display:inline-block;
        color:#ffffff;
        font-size:15px;
        font-weight:bold;
        font-style:normal;
        height:26px;
        line-height:26px;
        width:177px;
        text-decoration:none;
        text-align:center;
        text-shadow:1px 1px 0px #131413;
        cursor: pointer;
    }

    #downloadLinks:hover, input[type='button']:hover {
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee) );
        background:-moz-linear-gradient( center top, #468ccf 5%, #63b8ee 100% );
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee');
        background-color:#468ccf;
    }

    #downloadLinks:active, input[type='button']:active {
         position:relative;
         top:1px;
     }
/* End Buttons */

    input[type='text'], textarea{
        border-radius: 10px;
        width: 100%;
        -webkit-transition: all 0.30s ease-in-out;
        outline: none;
        padding: 3px 0px 3px 3px;
        margin: 5px 1px 3px 0px;
        border: 1px solid #DDDDDD;
        vertical-align: middle;
        text-align: center;
        box-sizing: border-box;
    }

    textarea{
        width:100%;
        height: 100%;
        border-radius: 10px;
        font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    }

    input[type='text'], .code{
        font-family: 'Courier New', Courier, monospace;
        font-size: 13px;
        padding:2px;
    }

    input[type='radio']{
        display: inline;
        vertical-align: middle;
    }

    select{
        background-color: transparent;
        border-color: transparent;

    }

    select.uploaded{
        -webkit-animation: uploadHighlight 15s;
    }

    @-webkit-keyframes uploadHighlight{
        from{
            -webkit-box-shadow: 0 0 35px 2px rgba(81,203,238,0.4);
            box-shadow: 0 0 35px 2px rgba(81,203,238,0.4);
        }

        to{

        }
    }

    input[type=text]:focus, textarea:focus, select:focus {
        box-shadow: 0 0 5px rgba(81, 203, 238, 1);
        border: 1px solid rgba(81, 203, 238, 1);
    }

    /* Chrome, Safari, Opera */




