#listHolderTitle{
    position: fixed;
    margin-top:0px;
    margin-left: 0px;
    text-align:center;
    background-color: rgba(255,255,255,0.9);
    z-index: 1001;
    width:inherit;
    border-radius: 10px;
    vertical-align: middle;
}

#goToCurrentString, #contentTitle{
    cursor: hand;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;
}

#contentTitle{

    font-size: 35px;
}

#togglesHolder{
    left: 97%;
    top: 50%;
    height: 39;
    width: 50;

    background-color: #ffffff;

    position: fixed;
    margin-left: 0px;
    z-index: 1002;
    bottom: 0;
    -webkit-box-shadow: 0px -2px 14px 0px rgba(50, 50, 50, 0.75);
}

#previewStringContent{
    z-index: 1005;
    position: fixed;
    top: 0;
    left: 25%;
    width:50%;
    background-color: #ffffff;
    opacity: 0.8;
    text-align: center;

    box-shadow: 0 1px 5px rgba(0,0,0,0.25), 0 0 10px rgba(0,0,0,0.1) ;
    padding: 15px;
    display: none;
    word-wrap: break-word;
    overflow: auto;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;


}

.scrollButtons{
    opacity: 0.1;
    width: 40px;
    height: 30px;
    display: inline;
    padding-top: 5px;
}

#listHolder {
    z-index: 1000;
    position: fixed;
    bottom: 0;
    left: 17.5%;
    height: 40px;
    width: 65%;

    overflow: hidden;
    margin: 0;

    background-color: #ffffff;
    opacity: 0.8;
    box-shadow: 0 1px 5px rgba(0,0,0,0.25), 0 0 10px rgba(0,0,0,0.1) ;
    border-radius: 1%;
}

#strList {
    empty-cells: show;
    border-collapse: collapse;
    height: 100%;
    width:100%;
    opacity: 0.7;
    list-style-type: none;
    padding: 5px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    font-size: 10px;
}

#strList .ui-selecting { background: #FECA40; }

#strList .ui-selected { background: #F39814; color: white; }

#listHeaders{
    opacity: 0.8;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;
    width:inherit;
    position: fixed;
    background-color: #ffffff;
    z-index: 2000;
}

.fixwidth{
    min-width: 350px;
}

#strList tr {
    cursor: hand;
    border-bottom: 1px dashed;
    border-color: #528CE0;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

#strList td{
    text-overflow:    ellipsis;
    overflow:hidden;
    white-space:nowrap;
    max-width: 350px;
    padding-right: 10px;
}

.listChildTitle{
    font-style: oblique;
    font-weight:bold;
    vertical-align: top;
}

.translated {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    /*-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);*/
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(248,255,232,1)), color-stop(53%,rgba(227,245,171,1)), color-stop(100%,rgba(183,223,45,1)));
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(248,255,232,1) 0%,rgba(227,245,171,1) 53%,rgba(183,223,45,1) 100%);
}

.untranslated {
    width: 5px;
    height: 5px;
    border-radius: 50%;

    background: #ffffff;
    border-width: 1px;
    border-color: #000000;
    border-style: double;

}
