#stringStatistics > *{

    /*position: fixed;
    top: 50%;
    left: 80%;*/
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;

}

.statistics-total{
    padding-right: 20px;
    font-weight: bold;
}



.statistics-abs{
    font-weight: bold;
    padding-right: 20px;
}

.statistics-title{

}


#statistics td,#statistics th{
    border-bottom: 1px dashed;
}
#statistics th, #untranslatedCount, #translatedCount{

    padding-right: 10px;
    align-content: center;
}

.statistics-abs:hover {
    cursor: help;
    position: relative;
    transition-duration:400ms;

    -webkit-transition-duration:400ms;

}

.statistics-abs[ratio]:hover:after {
    content: attr(ratio);
    padding: 4px 8px;
    color: #333;
    position: absolute;
    /*left: 0;
    top: 100%;*/
    white-space: nowrap;
    z-index: 20;


    border-radius: 15px;
    -moz-box-shadow: 0px 0px 4px #222;
    -webkit-box-shadow: 0px 0px 4px #222;
    box-shadow: 0px 0px 4px #222;

    background-color: #ffffff;
    /*background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));*/


}