/* Globals */
    html {
        height: 100%;
        -webkit-user-select: none;
    }

    a {
        text-decoration: none;

    }

    :focus, :active {
        outline: 0;
    }

    #spinnerContainer {
        z-index: 1000;
        width: 300px;
        height: 300px;
        background-color: transparent;

        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;

        margin: auto;
    }

/* End Globals */

    #mainPanel{

        align-self: center;
        /*border-radius: 10px;
        width: 100%;
        background-color: transparent;*/
        /*position: fixed;
        top: 30%;
        padding: 20px;*/
    }

    div{
        align-items: center;
    }

    #dragAndDropHandler{
        color:#92AAB0;
        border:2px dotted #0B85A1;
        vertical-align:middle;
        padding:20px;
        margin-bottom:10px;
        font-size:15px;
    }

    #dragAndDropHandler:hover{
       text-decoration: blink;
    }

    #keyMap{
        display: none;
        position: absolute;
        z-index: 1002;
        bottom: 17;
        left: 75;
        border: 1px dashed;
        border-radius: 10px;
        padding: 10px;
        background-color: #ffffff;

    }

    #keyMap .code{
        /*text-align: center;*/
    }

    input:disabled, textarea:disabled{
        opacity: 0.7;
        background: rgb(226,226,226); /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(50%,rgba(219,219,219,1)), color-stop(51%,rgba(209,209,209,1)), color-stop(100%,rgba(254,254,254,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */

    }

    #keyMapTrigger{
        opacity: 0.4;
        position: absolute;
        bottom: 20;
        display: inline;
        z-index: 1002;
        cursor: help;
        width: 100px;
        height: 100px;
        z-index: 1003;
    }

    .hoverButtons:hover{
        -webkit-animation: scrollButtonHoverAnimation1;
        -webkit-animation-duration: 2s;
        -webkit-animation-fill-mode: both;
        -webkit-animation-timing-function: ease-in;
    }


    /* Tooltip Section */
    a.tooltips {
        position: relative;
        display: inline;
    }
    a.tooltips span {
        position: absolute;
        width:140px;
        color: #FFFFFF;
        background: #000000;
        height: 32px;
        line-height: 32px;
        text-align: center;
        /*visibility: hidden;*/
        border-radius: 7px;
        box-shadow: 0px 0px 8px #080000;
    }
    a.tooltips span:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 100%;
        margin-top: -8px;
        width: 0; height: 0;
        border-right: 8px solid #000000;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
    }
    a:hover.tooltips span {
        visibility: visible;
        opacity: 0.7;
        left: 100%;
        top: 50%;
        margin-top: -16px;
        margin-left: 15px;
        z-index: 999;
    }

